
    <h1>Edit Parcel</h1>

    <form method="POST" action="/parcels/<%= parcelData._id %>" >
        <input type="hidden" name="_method" value="PUT">
        <div class="form-row">
            <div class="col-12 col-md-6 mb-3">
                <input type="hidden" name="id" value="<%= parcelData._id %>">
                <label for="validationDefault01">Sender Name</label>
                <input type="text" name="sendername" class="form-control" id="validationDefault01" value="<%= parcelData.sendername %>" required>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <label for="validationDefault02">Receiver Name</label>
                <input type="text" name="receivername" class="form-control" id="validationDefault02" value="<%= parcelData.receivername %>" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 col-md-6 mb-3">
                <label for="validationDefault01">Tracking Number</label>
                <input type="text" name="tracknum" class="form-control" id="validationDefault01" value="<%= parcelData.TrackingNum %>" required>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Shipment Type</label>
                <select class="custom-select mr-sm-2" name="shipmentType" id="inlineFormCustomSelect">
                    <option selected>Choose...</option>
                    <option value="Air Freight">Air Freight</option>
                    <option value="Marine Freight">Marine Freight</option>
                    <option value="Land Freight">Land freight</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <label for="exampleFormControlTextarea1">Parcel Content</label>
            <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="3"><%= parcelData.parcelcontent %></textarea>
        </div>
        <div class="form-row">
            <div class="col-12 col-md-6 mb-3">
                <label for="validationDefault01">Shipped Date</label>
                <input type="date" name="sdate" value="<%= parcelData.shippedDate.toISOString().substring(0, 10) %>" class="form-control" required>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <label for="validationDefault02">Expected Delivery Date</label>
                <input type="date" name="ddate" value="<%= parcelData.expecteddeliverydate.toISOString().substring(0, 10) %>" class="form-control" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault03">Source City</label>
                <input type="text" name="scity" class="form-control" id="validationDefault03" value="<%= parcelData.sourcecity %>" required>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationDefault04">Source State</label>
                <input type="text" name="sstate" class="form-control" id="validationDefault04" value="<%= parcelData.sourceState %>" required>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationDefault05">Source Country</label>
                <input type="text" name="szip" class="form-control" id="validationDefault05" value="<%= parcelData.sourceCountry %>">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault03">Current City</label>
                <input type="text" name="ccity" class="form-control" id="validationDefault03" value="<%= parcelData.currentCity %>" required>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationDefault04">Current State</label>
                <input type="text" name="cstate" class="form-control" id="validationDefault04" value="<%= parcelData.currentState %>" required>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationDefault05">Current Country</label>
                <input type="text" name="czip" class="form-control" id="validationDefault05" value="<%= parcelData.currentCountry %>">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault03">Destination City</label>
                <input type="text" name="dcity" class="form-control" id="validationDefault03" value="<%= parcelData.destinationCity %>" required>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationDefault04">Destination State</label>
                <input type="text" name="dstate" class="form-control" id="validationDefault04" value="<%= parcelData.destinationState %>" required>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationDefault05">Destination Country</label>
                <input type="text" name="dzip" class="form-control" id="validationDefault05" value="<%= parcelData.destinationCountry %>">
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 col-md-6 mb-3">
                <label>Contact Number</label>
                <input type="text" name="contactnumber" value="<%= parcelData.recievercontactnumber %>" class="form-control" required>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <label class="mr-sm-2">Parcel Status</label>
                <select class="custom-select mr-sm-2" name="status">
                    <option selected>Choose...</option>
                    <option value="Shipped">Shipped</option>
                    <option value="Delivered">Delivered</option>
                    <option value="Transit">Transit</option>
                    <option value="Packaging">Packaging</option>
                    <option value="Missing Parcel">Missing Parcel</option>
                </select>
            </div>
        </div>
        <input class="btn btn-primary" name="submit" type="submit" value="Update Form"/>
    </form>


